@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Identity Admin</h1>
    <p>A simple ASP.NET Identity admin web app to manage your ADHOC Identity users, roles and claims.</p>
</div>
